.bg {
  background-image: url("../../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.left {
  margin-left: 100px;
}

.tittle {
  padding-top: 250px;
  color: white;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.right {
  color: white;
  margin-right: 100px;
  text-align: justify;
}

.btn-ply {
  background-color: rgba(7, 7, 7, 0.133) !important;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 40px !important;
  border-color: rgb(128, 32, 32) !important;
  text-transform: uppercase;
  /* identical to box height */
}

.btn-ply:hover {
  background-color: red !important;
}


.list-game{
  background-image: url("../../../assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

