* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.contact {
  background-image: url("../../asset/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 10vh;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
